/* 
------------
BASE.
FORMS
------------ 
*/

label, 
legend{
	display: block;
	cursor: pointer;
	@include remCalc(margin-bottom, $spacer--small);
}

input:not([type=button]):not([type=reset]):not([type=submit]), 
select, textarea{
	vertical-align: middle;
	border: 1px solid $border-clr;
	@include remCalc(margin-bottom, $spacer);
	@include remCalc(font-size, $base-font-size);
}

input[type=email],
input[type=file],
input[type=password],
input[type=search],
input[type=tel],
input[type=text]{
	-webkit-appearance: none; // Removes default browser behaviour for Safari
	-moz-appearance: none; // Removes default browser behaviour for Firefox
	background: none;
	color: $base-text-clr;
	display: block;
	width: 100%;
	@include remCalc(padding, $spacer--small);
}

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"]{
	-webkit-appearance: none; // Removes default browser behaviour for Safari
	-moz-appearance: none; // Removes default browser behaviour for Firefox
	vertical-align: middle;
	cursor: pointer;
	float: left;
	letter-spacing: 0;
	@include remCalc(font-size, $base-font-size);
}

select, 
option{
	cursor: pointer;
	@include remCalc(padding, $spacer--small);
}

textarea{
	width: 100%;
	max-width: 100%;
	vertical-align: top;
	@include remCalc(padding, $spacer);
}

