/* ------------ *\
	TABLES
\* ------------ */

/*
Adding padding to ul and ol elements
*/

table, tbody{
	width: 100%;
	text-align: left;
}

th,td{
	padding: $spacer;
	border: 1px solid $border-clr;
}

caption{
	text-align: left;
	@include remCalc(margin-bottom, $spacer);
}

