/* 
------------
BASE.
IMAGES
------------ 
*/

/*
Adding padding to ul and ol elements
*/


img{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	@include remCalc(margin-bottom, $spacer);
}

img[width], img[height]{
	max-width: 0;
}

figure{
	@include remCalc(margin-bottom, $spacer);
}

figure img{
	margin-bottom: 0;
	width: 100%;
}

figcaption{
	border-bottom: 1px dotted $border-clr;
	float: left;
	width: 100%;
	@include remCalc(padding-top, $spacer);
	@include remCalc(padding-bottom, $spacer);
}

