/* ------------ *\
	HELPERS
\* ------------ */

// This is the file that keeps all the little helper classes
// contained. 

// Floats
.pull--left{
	float: left !important;
}

.pull--right{
	float: right !important;
}


// Font Weights

.weight--light{
	font-weight: $weight-light !important;
}

.weight--normal{
	font-weight: $weight-normal !important;
}

.weight--heavy{
	font-weight: $weight-heavy !important;
}

// Hide and Display

.hidden{
	display: none !important;
}

@include respond-to(tablet){
	.display--tablet{
		display: block !important;
	}
	.hidden--talet{
		display: none !important;
	}
}

@include respond-to(mobile){
	.display--mobile{
		display: block !important;
	}
	.hidden--mobile{
		display: none !important;
	}
}

.active{
	color: green;
}

