/* ------------ *\
	LISTS
\* ------------ */

/*
Remove all styling from lists by adding the .no-points class below
*/

.no-points{
	list-style-type: none;
	padding-left: 0;
}

/*
There are various list styles and the classes below
*/

.numbered-list{
	list-style-type: decimal;
}

.circle-list{
	list-style-type: circle;
}

.square-list{
	list-style-type: square;
}

.alphabetical-list--lower{
	list-style-type: lower-latin;
}

.alphabetical-list--upper{
	list-style-type: upper-latin;
}

