/* 
------------
COMPONENTS.
FRONTLY NAV
------------ 
*/

/** 
* .frontly-nav 
* ------------ 
* This is the default navigation block of the frontly framework.
* The colors that are set for the default browser are set in the 
* settings.colors.scss file and assigned to $nav-clr.
* 
*/

.frontly-nav{
	float: left;
	width: 100%;
	ul{
		@extend .list--no-points;
		margin: 0;
		padding: 0;
		float: left;
		@include respond-to(small-screen){
			width: 100%;
			display: none;
		}
	}
	ul li{
		display: block;
		float: left;
		@include respond-to(small-screen){
			width: 100%;
			border-top: 1px solid $nav-border-clr;
		}
	} 
	ul li a, a{
		@include remCalc(padding, $spacer);
		color: $nav-link-clr;
		display: block;
		float: left;
		text-decoration: none;
		@include transition(all ease 0.25s);
		@include respond-to(small-screen){
			width: 100%;
			&.frontly-nav__menu-link{
				width: auto;
			}
		}
		&:hover{
			background: $nav-link-hover-clr;
		}
	}
	.frontly-dropdown{
		&:hover > a{
			background: $nav-link-hover-clr;
		}
		a{
			padding-right: $spacer--dbl;
		}
		@include respond-to(small-screen){
			&:after{
				display: none;
			}
		}
	}
	.frontly-dropdown ul{
		@include transition(all ease 0.25s);
		top: 36px;
		border: none;
		background: $nav-clr;
		@include respond-to(small-screen){
			display: none;
		}
		li:hover > a{
			background: $nav-link-hover-clr;
		}
	}
	.frontly-dropdown a{
		@include remCalc(padding-right, $spacer--dbl);
	}
	.frontly-dropdown:after{
		right: $spacer--small;
		top: 35%;
		color: set-contrast-color($nav-link-clr);
	}
}

/** 
* .frontly-nav--branded 
* --------------------- 
* The branded frontly nav is a great way to incorporate your brands colors into
* the naviagtions style. It utilises the $brand-clr variable that is set in the
* setting.colors.scss file.
*
*/

.frontly-nav--big{
	ul li a, a{
		@include remCalc(padding, $spacer--dbl);
	}
	.frontly-nav__text{
		@include remCalc(padding-top, $spacer--dbl);
		@include remCalc(padding-right, $spacer--dbl);
		@include remCalc(padding-bottom, $spacer--dbl);
	}
	.frontly-dropdown{
		&:after{
			right: $spacer--dbl;
			top: 40%;
		}
		a{
			padding-right: $spacer--large;
		}
		ul{
			@include remCalc(top, 56px);
		}
	}
}

/** 
* .frontly-nav--bordered
* ---------------------- 
* Should you wish to use a right aligned list in your navigation, this helper 
* class enables you to do that. By assigning it to the <ul> tag you are able 
* to pull it to the right of the frontly nav.
* 
*/

.frontly-nav--bordered{
	border: 3px solid $nav-border-clr;
}

.frontly-nav--thin-bordered{
	border: 1px solid $nav-border-clr;
}

.frontly-nav.frontly-nav--bordered .frontly-nav__text,
.frontly-nav.frontly-nav--thin-bordered .frontly-nav__text{
	@include remCalc(margin-left, $spacer);
}

.frontly-nav--big.frontly-nav--bordered .frontly-nav__text,
.frontly-nav--big.frontly-nav--thin-bordered .frontly-nav__text{
	@include remCalc(margin-left, $spacer--dbl);
}

/** 
* .frontly-nav--underlined
* ------------------------ 
* Should you wish to use a right aligned list in your navigation, this helper 
* class enables you to do that. By assigning it to the <ul> tag you are able 
* to pull it to the right of the frontly nav.
* 
*/

.frontly-nav--underlined{
	border-bottom: 3px solid $nav-border-clr;
}

.frontly-nav--thin-underlined{
	border-bottom: 1px solid $nav-border-clr;
}


/** 
* .frontly-nav--right
* ------------------- 
* Should you wish to use a right aligned list in your navigation, this helper 
* class enables you to do that. By assigning it to the <ul> tag you are able 
* to pull it to the right of the frontly nav.
* 
*/

ul.frontly-nav--right{
	float: right;
}

	.frontly-nav--right .frontly-dropdown ul{
		left: auto;
		right: 0;
		li:hover ul{
			left: -100%;
		}
	}

/** 
* .frontly-nav__text
* ------------------
* A navigation may sometimes require a bit of text that isn't wrapped in an <a>
* tag. This class enables you to do just that.
* 
*/

.frontly-nav__text{
	float: left;
	width: auto;
	margin: 0;
	font-size: $base-font-size;
	@include remCalc(padding-top, $spacer);
	@include remCalc(padding-right, $spacer);
	@include remCalc(padding-bottom, $spacer);
	line-height: $base-font-size;
	line-height: 1rem;
}

	.frontly-nav__text--brand-name{
		font-weight: bold;
		text-transform: uppercase;
	}