/* 
------------
COMPONENTS.
DROPDOWNS
------------ 
*/

.frontly-dropdown{
	@extend .dropdown;
	> a{
		padding: 5px 20px 0 5px;
	}
	&:hover > a{
		background: #ddd;
	}
	ul{
		width:200px;
		border: 1px solid $border-clr;
		li a{
			padding: $spacer;
			width: 100%;
			position: relative;
		}
	}
	&:after{
		position: absolute;
		right: $spacer--small;
		top: 35%;
		@include remCalc(font-size, 10px);
		width: $spacer;
		color: lighten($base-text-clr, 60%);
		content: "\25bc";
	}
	li:hover > a{
		background: #ddd;
	}
}