/* 
------------
COMPONENTS.
PANELS
------------ 
*/

.panel{
	width: 100%;
	float: left;
	clear: both;
	border: 1px solid $border-clr;
	background: #f6f6f6;
	@include remCalc(padding, $spacer--dbl);
	@include remCalc(margin-bottom, $spacer);
	> *{
		margin: 0;
	}
}

.panel--small{
	@include remCalc(padding, $spacer);
}

.panel--large{
	@include remCalc(padding, $spacer--large);
}

.panel--dark{
	background: $base-text-clr;
	border: none;
	color: #fff;
}

.panel--hollow{
	background: none;
}

.panel--error{
	background: $error-clr;
	border: none;
	color: #fff;
}

.panel--attention{
	background: $attention-clr;
	border: none;
	color: #fff;
}

.panel--success{
	background: $success-clr;
	border: none;
	color: #fff;
}

.panel--smooth{
	border-radius: 5px;
}

.panel--can-close{
	position: relative;
}

.panel--can-close__btn{
	position: absolute;
	top: 10px;
	right: 10px;
	@include remCalc(font-size, 20px);
	color: #fff;
}