/* 
------------
SETTINGS.
Z-INDEX
------------ 
*/

// Keeping track of your z-indexing 
// can be a pain, so to make it 
// easier to organinse why not use 
// the variables below?
// Amend or add your own if you need 
// to.
// ---------------------------------

$zindex-1: 1;
$zindex-minus-1: -1;
$zindex-2: 2;
$zindex-minus-2: -2;
$zindex-3: 3;
$zindex-minus-3: -3;
$zindex-4: 4;
$zindex-minus-4: -4;
$zindex-5: 5;
$zindex-minus-5: -5;