/* 
------------
SETTINGS.
BREAKPOINTS
------------ 
*/

// If you change these values be sure to change them in the scripts file as well for the the JavaScript & jQuery to work correctly.

$break-xsmall:	400px;
$break-small:	750px;
$break-medium:	960px;
$break-large:	1140px;