/* 
------------
SETTINGS.
TYPOGRAPHY
------------ 
*/

// By using these variable your are able to amend the type of the website with ease.
// e.g. font-family: $sans-serif;
// ---------------------
$sans-serif: 'Roboto', Arial, sans-serif !default;
$serif: Georgia, "Times New Roman", serif !default;
$base-font-size: 16px !default;
$base-line-height: 1.6;

// Header Font sizes
// ---------------------
$alpha: 48px;
$beta: 36px;
$gamma: 24px;
$delta: 20px;
$epsilon: 18px;

// Font weight variables
// ---------------------
$weight-light: 100;
$weight-normal: 400;
$weight-heavy: 700;
$weight-x-heavy: 900;