/* 
------------
SETTINGS.
COLORS
------------ 
*/

// Brand Colors
// ---------------
$brand-red: #ED4466;
$brand-pink: #E56399;
$brand-blue: #117393;
$brand-clr: $brand-red;


// Default Colors
// These are some simple base colors that I have set to 
// help get things going but can easily be changed.
// ---------------

$base-text-clr: #222;
$base-text-clr--dull: lighten($base-text-clr, 50%);
$base-background-clr: #fff;
$link-clr: lighten($base-text-clr, 20%);
$link-clr-hover: darken($link-clr, 10%);
$border-clr: #ddd;
$pre-background-clr: #eee;
$pre-text-clr: $base-text-clr;
$highlighting-clr: #FFF9B7;

$error-clr: #FF5666;
$attention-clr: #FF6F59;
$success-clr: #68D68D;

// Frontly Navigation Colors
$nav-clr: #f6f6f6; 
$nav-link-clr: #fff; 